btn:hover {
  color: lightblue;
}

label {
  font-size: medium;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('https://unsplash.com/photos/P0nTS-8vW-A');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.container-splash {
  position: relative;
}